<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--Pico CSS 적용하기-->
<link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
<link rel="stylesheet" href="/css/header.css">
<!-- Header -->
<header class="container">
    <nav>
        <h1>어린이집</h1>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/board/basic">자게</a>
            </li>
            <li>
                <a href="#">유치원2</a>
            </li>
        </ul>
    </nav>
</header>
</html>